<nav class="bg-red-500 flex justify-between align-center p-4  w-full sticky top-0 z-50">
    <span class="text-2xl font-bold text-blue-700">Pokémon Trainer!</span>
    
    <ng-container *ngIf="trainer !== undefined">
        <ul class="flex">
            <li class="p-2 font-bold">
                <a routerLink="trainer">Trainer info</a>
            </li>
            <li class="p-2 font-bold">
                <a routerLink="pokemon-catalogue">Pokémon catalogue</a>
            </li>
        </ul>
    </ng-container>
</nav>